{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Síndico </title>
    <link rel="stylesheet" href="{% static 'homeSindico.css' %}">
    
</head>
    <body>
        <main class="login-card">
            <h1>Bem-Vindo(a), Síndico(a)!</h1>
            <p class="subtitle">Painel do Síndico</p>

            <form action="#" method="post">
                <button type="submit">Gerenciar  Reclamação</button><br>
                <br>
                <button type="submit">Gerenciar Sugestão/Denúncia</button><br>
                <br>
                <button type="submit">Gerenciar Encomendas</button><br>
                <br>
                <button type="submit">Gerenciar Reserva de Espaços</button><br>
                <br>
                <button type="submit">Publicar Notícias</button>
                <br>
                <button type="submit">Cadastrar Moradores/Funcionários</button>
            </form>
    </body>
</html>