{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Funcionário </title>
    <link rel="stylesheet" href="{% static 'homeFuncionario.css' %}">
    
</head>
    <body>
        <main class="login-card">
            <h1>Login</h1>
            <p class="subtitle">Bem-vindo(a) Funcionário(a)!</p>

            <form action="#" method="post">
                <button type="submit">Registrar Entrada/Saída</button><br>
                <br>
                <button type="submit">Registrar Encomendas</button><br>
                <br>
                <button type="submit">Ver Reservas</button><br>
                <br>
                <button type="submit">Reserva de Espaços</button><br>
                <br>
                <button type="submit">Mural de Notícias</button>
        </main>

    </body>
</html>