{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Login - Condomínio Feliz</title>
    
</head>
<body>
    <main class="login-card">
        <h1>Login</h1>
        <p class="subtitle">Acesse sua conta</p>

       <form method="post">
            {% csrf_token %}
            <label for="email">Login</label>
            <input type="text" id="email" name="username" placeholder="seu usuário">

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="password" placeholder="Digite sua senha">

            <button class="btn-gradient" type="submit">Entrar</button>
        </form>
</body>
</html>